<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <link href="./static/html logueo/home.css" rel="stylesheet" />

    <center>
        <div> Hola {{Usuario.nombreUsuario}} {{Usuario.apellidoUsuario}}</div>
        <h1>Mis Canciones</h1>

        {% for item in misCanciones%}
            {{item.Cancion}}
        {% endfor %}

        <h1>Canciones</h1>
        <div style="padding-top: 10px;">
             {% for item in Canciones%}
             <div>
                <a href="/ver_letra?id={{item.idCancion}}">
                 {{item.idCancion}}//{{item.nombreCancion}}
                </a>
             </div>
            <a href="/GuardarUhc?Cancion={{item.idCancion}}&Usuario={{Usuario.idUsuario}}">Guardar Cancion</a>
            <br>
            <br>
             {% endfor %}
            <br>
         </div>
        <a href="/subir_cancion">Subir cancion</a>
        <a href="/logout">Cerrar Sesion</a>
    </center>
</head>
<body>

</body>
</html>