<?php
required_once("./php/myDBC.php");
if(isset($_SESSION['session']))
{
    header("location:principal.php");
    exit;
}
?>
<!DOCTYPE html>
<html lang="es">
<head>
    <title>LOGUEATE BB</title>
    <meta charset="utf-8">
    <link href="/static/html logueo/registro.css" rel="stylesheet">
</head>

<body>

    <div id="registrar">
<a href="/home"</a>home</a>
</div>

    <div id="envoltura">
        <div id="contenedor">

            <div id="cuerpo">
                <form id="form-login" action="/login" method="post" autocomplete="off">

                    <p><label >Mail:</label></p>
                        <input name="Inputmail" type="text" id="Inputmail" placeholder="Ingresa mail" autofocus="" required=""></p>
                    <p><label>Password:</label></p>
                        <input name="Inputpassword" type="password" id="Inputpassword" placeholder="Ingresa Password" required=""></p>

                    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
                </form>
            </div>

    </div>
</body>

</html>