<!DOCTYPE html>
<html>
<head>
    <title>REGISTRATE BB</title>
    <meta charset="utf-8">
    <link href="/static/html logueo/registro.css" rel="stylesheet" />
</head>

<body>
    <div id="registrar">
            <a href="/home"</a>home</a>
    </div>
    <div id="envoltura">
        <div id="contenedor">


            <div id="cuerpo">

                <form id="form-login" action="/registro" method="post" >
                    <p><label for="Inputnombre">Nombre:</label></p>
                        <input name="Inputnombre" type="text" id="Inputnombre" class="Inputnombre" placeholder="Pon tu nombre" autofocus=""></p>

                    <p><label for="Inputapellido">Apellidos:</label></p>
                        <input name="Inputapellido" type="text" id="Inputapellido" class="Inputapellido" placeholder="Pon tus apellido"></p>


                    <p><label for="Inputmail">Correo:</label></p>
                        <input name="Inputmail" type="text" id="Inputmail" class="Inputmail" placeholder="Pon tu mail"></p>

                    <p><label for="Inputcontrasenia">Password:</label></p>
                        <input name="Inputcontrasenia" type="password" id="Inputcontrasenia" class="Inputcontrasenia" placeholder="Pon tu contraseña"></p>


                    <p id="bot"><input name="submit" type="submit" id="boton" value="Registrar" class="boton"/></p>
                </form>
            </div>

        </div>
    </div>

</body>

</html>
