<!DOCTYPE html>
<html>
<head>
    <title>Formulario</title>
    <meta charset="utf-8">
    <link type="text/css" href="./../css/style.css" rel="stylesheet" />
</head>

<body>
    <div id="registrar">
            <a href="/home"</a>home</a>
    </div>
    <div id="envoltura">
        <div id="contenedor">


            <div id="cuerpo">

                <form id="form-login" action="/registro" method="post" >
                    <p><label for="nombre">Nombre:</label></p>
                        <input name="nombre" type="text" id="nombre" class="nombre" placeholder="Pon tu nombre" autofocus=""></p>

                    <p><label for="apellido">Apellidos:</label></p>
                        <input name="apellido" type="text" id="apellido" class="apellido" placeholder="Pon tus apellido"></p>


                    <p><label for="mail">Correo:</label></p>
                        <input name="mail" type="text" id="mail" class="mail" placeholder="Pon tu mail"></p>

                    <p><label for="contrasenia">Password:</label></p>
                        <input name="contrasenia" type="password" id="contrasenia" class="contrasenia" placeholder="Pon tu contraseña"></p>


                    <p id="bot"><input name="submit" type="submit" id="boton" value="Registrar" class="boton"/></p>
                </form>
            </div>

        </div>
    </div>

</body>

</html>