<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Subir cancion</title>
    <link href="./static/html logueo/subir_cancion.css" rel="stylesheet" />
</head>
    <p><label for="nueva cancion">nombre cancion:</label></p>
    <input name="nueva cancion" type="text" id="nueva cancion" class="nueva cancion" placeholder="Pon el nombre de la cancion"></p>

    <p><label for="genero">genero:</label></p>
    <input name="genero" type="text" id="genero" class="genero" placeholder="genero"></p>

    <h1>letra:</h1>
    <textarea rows="20" cols="150<">
    </textarea>
    <p id="bot"><input type="submit" id="submit" name="submit" value="Ingresar" class="boton"></p>
    <a href="/logeado"> Volver atras</a>
</body>
</html>