<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VEAMOS LA LETRA BABY</title>
    <link href="./static/html logueo/ver_letra.css" rel="stylesheet" />

</head>

<body>
    <h3>Letra de {{cancion.nombreCancion}}</h3>

    {{cancion.letra}}
    <center>
    <a href=> eliminar cancion</a><a href="/logueo_editar_letra?idCancion={{cancion.idCancion}}"> Editar cancion</a>  <a href="/logeado"> Volver atras</a>        <a href="/logout">Cerrar Sesion</a>
    </center>
    <h3>COMENTARIOS</h3>

   </textarea>
<div>
                <form method="POST" action="/ComentarioCancion">
                    <input type="hidden" name="id" value="{{cancion.idCancion}}">
                    <input type="text" size="100" name="inputComment" id="inputComment" placeholder="Agregar Comentario" required>
                    <button type="submit" class="float">submit</button>
                </form>
    <h1>COMENTARIOS</h1>


    {%for item in comentarios%}
    <div>mail: {{item.Usuario.mail}} // {{item.contenido}}</div>
    {% endfor %}


</div>
</body>
</html>